#searchWrap{
    width:1200px;
    margin:0 auto;
    padding:10px 0;
}
#searchWrap .search{
    width:600px;
    margin:0 auto;
    border-bottom:1px solid #bbb;
}
#searchWord{
    height:90%;
}
#searchWord + label{
    display:inline-block;
    width:8%;
    text-align:center;
}
#slideWrap{
    width:100%;
    background:var(--box-color);
    height:500px;
}
#slideBox{
    width:1200px;
    margin:0 auto;
    position:relative;
    height:500px;
}

.slide .leftBt{
    position:absolute;
    top:50%;
    left:10px;
    font-size:var(--title-size);
    background:rgb(255, 255, 255, 0.3);
}

.slide .rightBt{
    position:absolute;
    top:50%;
    right:10px;
    font-size:var(--title-size);
    background:rgb(255, 255, 255, 0.3);
}
#slideBox .slide{
    width:100%;
    height:500px;
    position:relative;
    overflow:hidden;
}
#slideBox .slide .slideList{
    display:flex;
    height:100%;
    width: calc(1200px * 4);
    position:relative;
    right:0px;
    transition: right 1s ease;
}
#slideBox .slide .slideList .slideImg{
    width:1200px;
}

#main{
    width:1200px;
    margin:0 auto;
    padding:50px 100px;
}
#main .gridTest{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows:400px; */
    gap:10px;
}
#main .gridTest{
    overflow:hidden;
}
.gridItem:nth-child(1){
    grid-column:1/2;
    grid-row:1/3;
}
.gridItem:nth-child(4){
    grid-column:2/4;
    grid-row:2/3;
}
