#wrap{
    min-width:1340;
}

#header{
    width:1280px;
    margin:0 auto;
}
#topSearchWrap{
    z-index:120;
    position:relative;
    height:156px;
    padding: 70px 0 42px;
}
.searchBar{
    width:706px;
    border-radius:33px;
    border:1px solid #03c75a;
    background-color:#fff;
    display:block;
    top:70%;
    left:50%;
    z-index:10;
    position:absolute;
}
/*-----------------------------------------------------------------------------------*/
#main{
    width:1280px;
}
/*-----------------------------------------------------------------------------------*/
#footer{
    width:1903px;
}