.house{
    border-collapse:collapse;
    width:700px;
}
.house tr td{
    border:2px solid rgb(226, 226, 226);
    height:30px;
}
.chart{
    border-bottom:3px solid rgb(226, 226, 226);
}
.chart th{
    border:1px solid rgb(226, 226, 226);
    background-color:darkblue;
    color:white;
}
.detail{
    width:250px;
}
.income, .expense, .payment{
    width:150px;
}
.dateCell{
    background-color:rgb(240, 180, 30);
    width:70px;
    text-align:center;
    font-size:medium;
}
.incomeCell{
    text-align:center;
    background-color:darkgreen;
}
.expenseCell{
    text-align:center;
    background-color:rgb(139, 8, 8);
    color:white;
}
.paymentCell{
    text-align:center;
}
.detailCell:hover{
    background-color:gray;
}